<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>OnlineFoodDonationWebsite</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegistrationServlet</display-name>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <servlet-class>com.food.UserRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegistrationServlet</servlet-name>
    <url-pattern>/UserRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NGORegistrationServlet</display-name>
    <servlet-name>NGORegistrationServlet</servlet-name>
    <servlet-class>com.food.NGORegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NGORegistrationServlet</servlet-name>
    <url-pattern>/NGORegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.food.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.food.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAccessFilter</display-name>
    <servlet-name>UserAccessFilter</servlet-name>
    <servlet-class>com.food.UserAccessFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAccessFilter</servlet-name>
    <url-pattern>/UserAccessFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NgoAccessFilter</display-name>
    <servlet-name>NgoAccessFilter</servlet-name>
    <servlet-class>com.food.NgoAccessFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NgoAccessFilter</servlet-name>
    <url-pattern>/NgoAccessFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminAccessFilter</display-name>
    <servlet-name>AdminAccessFilter</servlet-name>
    <servlet-class>com.food.AdminAccessFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminAccessFilter</servlet-name>
    <url-pattern>/AdminAccessFilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewRequestedFoodServlet</display-name>
    <servlet-name>ViewRequestedFoodServlet</servlet-name>
    <servlet-class>com.food.ViewRequestedFoodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewRequestedFoodServlet</servlet-name>
    <url-pattern>/ViewRequestedFoodServlet</url-pattern>
  </servlet-mapping>
</web-app>